@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: #283655 !important;
    background-color: #f7faff !important;
    font-family: 'Rambla', sans-serif;
}

h2, h3 {
    font-family: 'Audiowide', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;
}

li {
    list-style-type: none;
}

/* HEADER */
.navbar {
    background-color: #fafafa;
    opacity: 0.9;
    height: 42px;
    transition: 0.7s;
}

.nabvar-nav {
    width: 80% !important;
    margin: 0 auto;
    justify-content: space-between;
}

header {
    text-align: center;
    height: 300vh;
    background: url(public/images/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
}

h1 {
    padding: 90px 0 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.3em;
    text-transform: uppercase;
}

#line {
    height: 1px;
    background-color: #b3aca7;
    width: 25%;
    margin: 0 auto;
}

h2 {
    padding: 20px 0 50px 0;
    font-size: 3em;
    text-transform: uppercase;
}

.presentation {
    height: 240px;
    margin-top: 20px;
}

.infos {
    border: 1px solid #b3aca7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

/* concerne l'image avec le cadre */
.photo {
    border: 1px solid #b3aca7;
    position: relative;
}

/* concerne que l'image */
.photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    max-width: 90%;
    border-radius: 3px;
    box-shadow: 0 0 4px #111;
}

header .button {
    margin-top: 45%;
}

header .button a {
    padding: 20px 80px;
    border: 1px solid #b3aca7;
    width: 300px;
}

header .button:hover a {
    background-color: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/* LANGAGES / FRAMEWORKS */
#langages {
    padding: 40px 80px 80px 50px;
    margin: 20px 0 0 6%;
    height: 900px;
    width: 70%;
    max-width: 1000px;
    background: linear-gradient(90deg,#8995c8 0%, rgba(166,179,236,0.61) 20%, #c1cbf8 40%, #dee3fe 99%);
    justify-content: center;
}

#langages .bar {
    padding: 10px 0 4px 0;
    letter-spacing: 0.1em;
}

h4 {
    text-align: center;
}

.frontend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.backend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.digital {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

/* FORMATIONS */
#formations {
    position: relative;
    top: -200px;
    float: right;
    margin-right: 1%;
    padding: 90px 0 60px 100px;
    height: 700px;
    width: 70%;
    max-width: 900px;
    background: linear-gradient(19deg, rgba(0,180,219,0.69) 0%, #0083b0 80%);
    justify-content: center;
}

#tp_cda {
    padding-top: 20px;
}

#tp_dam {
    padding: 50px 0 0 9%;
}

#m2 {
    padding: 50px 0 0 18%;
}

#formations h5 {
    font-weight: bold;
    letter-spacing: 0.08em;
    padding-bottom: 10px;
    color: #005978;
    text-shadow: -1px -1px 1px #35B4D5;
}

.counter {
    display: flex;
    text-align: center;
}

.data {
    border: 1px solid #35B4D5;
    width: 170px;
    margin: 0 4%;
    box-shadow: 0 0 8px #1c9dc4;
    padding: 5px 20px;
}

.counter-value {
    font-size: 2em;
}

.data-span {
    font-size: 1.8em;
}

/* EXPÉRIENCES PROFESSIONNELLES */
#xp-pro {
    max-width: 800px;
    margin: 640px auto 180px auto;
    padding: 40px 30px 100px 30px;
    background: url(./public/images/parcours.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    border-radius: 8px;
    box-shadow: -1px -1px 8px #283655;
}

#xp-pro h3 {
    font-size: 2.5em;
    padding-bottom: 30px;
    text-align: center;
}

#xp-pro h4 {
    font-size: 1.6em;
    color: #ff4e50;
    margin-left: 20px;
}

#xp-pro h6 {
    font-style: italic;
    color: #edca21;
    margin-left: 20px;
}

#xp-pro li {
    line-height: 1.9em;
    justify-content: center;
}

.timeline {
    border-top: 3px solid;
    border-image: linear-gradient(to right, #f9d423, #ff4e50);
    border-image-slice: 1;
    margin: 0;
    padding: 40px;
    position: relative;
}

.timeline:nth-child(1)::after {
    content: '▲';
    color: #ff4e50;
    position: absolute; /* permettra de la déplacer comme on veut dans son élément / conteneur */
    top: -10px;
    right: -10px;
    box-sizing: content-box !important;
}

.timeline:nth-child(1) {
    border-bottom: 3px solid;
    border-top: none;
    width: 80%;
}

.timeline:nth-child(2) {
    border-top: none;
}

.timeline:nth-child(odd) /* odd permet de viser les éléments impairs */ {
    border-right: 3px solid;
    padding-left: 0;
}

.timeline:nth-child(even) /* even permet de viser les éléments pairs */{
    border-left: 3px solid;
    padding-right: 0;
}

/* PORTFOLIO */
#portfolio {
    margin: 100px 2% 0 2%;
    padding: 40px 10px 60px 40px;
    background-color: rgba(179, 172, 167, 0.08);
    box-shadow: 0px 0px 1px #a8a8a9;
}

#portfolio h3 {
    font-size: 3em; /* permet de faire un titre 3 fois plus grand que le H3 normal */
    padding-bottom: 15px;
    text-align: center;
}

.projet {
    display: flex; /* permet au texte de se mettre à côté de l'image */
}

.projet:nth-child(2) {
    margin-left: 3%; /* quelle que soit la taille de l'écran, la marge sera de 3% */
}

.projet:nth-child(3) {
    margin-left: 6%; 
}

.cadre {
    position: relative;
    padding: 40px 20px 25px 0;
    width: 60%;
    max-width: 600px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 10px 8px;
    color: #aca49c;
    text-align: center;
}

.img-container { /* concerne la photo et son cadre */
    height: 250px;
    width: 90%;
    max-width: 500px;
    overflow: hidden;
    margin: 0 auto; /* permet à l'image de se centrer dans sa div / son conteneur */
    box-shadow: 1px 1px 10px #111;
}

.img-container img { /* ne concerne que la photo */
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.img-container:hover img { /* quand on survole la photo */
    transform: scale(1); /* permet de faire grossir l'élément */
    transform-origin: 50% 50%; /* permet de faire grossir l'élément en le laissant centré */
    filter: contrast(140%);
    transition: 0.3s ease-in-out; /* permet de contrôler la vitesse de la transition (ici, elle sera moins rapide) */
}

.cadre:before, .cadre:after {
    content: '';
    display: block;
    position: absolute; /* va permettre de positionner l'élément comme on veut dans son conteneur */
    width: 20%;
    height: 20%;
    border: 1px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
    z-index: -1; /* ce sera le dernier élément */
}

.cadre:before {
    top: 15px;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.cadre:after {
    bottom: 0px;
    right: 15px;
    border-top-color: transparent;
    border-left-color: transparent;
}

.cadre:hover:before, .cadre:hover:after {
    border-color: #aca49c;
    width: 100%;
    height: 100%;
}

.legende {
    max-width: 350px;
    padding: 50px 0 0 20px;
    opacity: 0;    
    transition: 0.5s ease;
}

.projet:hover .legende { /* lorsqu'on va survoler l'image, la légende va s'afficher */ 
    opacity: 1;
    transition: 2s ease;
}

.legende a {
    padding: 16px 10px 10px 10px;
    margin-top: 20px;
    font-size: 1.1em;
    float: right;
    border-radius: 3px;
    background-color: #e2dedb;
    animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.legende a:active {
    animation: scale-up-push 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* pour .legende a */
@keyframes scale-up-hor-center {
  0% {
    transform: scaleX(0.4);
  }
  100% {
    transform: scaleX(1);
  }
}

/* .legende a:active */
@keyframes scale-up-push {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0.4);
  }
}

/* Compétences */
#other-skills {
    margin: 100px 2% 0 2%;
    padding: 50px 100px 100px 100px;
    width: 96%;
    background-color: #375e97;
}

#other-skills h3{
    transform: rotate(-3deg);
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
    text-shadow: -1px 1px 0px maroon;
}

.cloud {
    text-align: center;
    padding: 50px 0;
    font: 2em;
    text-transform: uppercase;
}